{% extends "base.html" %}
{% load static %}
{% load label_fixer_filter %}

{% block content %}
    <section class="vh-200 bg-image"
             style="background-image: url('{% static "images/update.png" %}');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-4">
                                <h2 class="text-center mb-5">Your Recipe</h2>
                                <form method="POST" action="{% url "recipe-update" recipe.pk %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-outline mb-4">
                                            <div class="form-group row">
                                                <label class="col-form-label"
                                                       for="{{ field.id }}">{{ field.name|fix_label }}</label>
                                                {{ field }}
                                            </div>
                                            {% for error in field.errors %}
                                                <p class="text-danger m-0" style="text-align: center">
                                                    {{ error }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group row">
                                        <label for="ingredients" class="text-danger m-0">Ingredients (must be
                                            comma-separated):</label><br>
                                        <input type="text" id="ingredients" name="ingredients"
                                               style="margin-bottom: 0.5rem"
                                               value="{{ recipe.ingredients.all|join:", " }}"/>
                                        <div class="d-flex justify-content-center">
                                            <input class="btn btn-success" type="submit" value="Update Recipe"/>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <a type="button" class="btn btn-secondary"
                                       href="{% url "recipe-details" recipe.pk %}">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}