{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="vh-100 bg-image"
             style="background-image: url('{% static "images/register.png" %}');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">WARNING !</h2>
                                <div>
                                    <form class="delete-form" method="post"
                                          action="{% url "recipe-delete" recipe.pk %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <h3>You are about to delete Recipe: <span
                                                class="badge bg-warning text-dark">{{ recipe.title }}</span> are
                                            you sure ?</h3>
                                        <input class="btn btn-danger" type="submit" value="Delete Recipe"/>
                                    </form>
                                    <br>
                                    <div><a class="btn btn-success"
                                            href="{% url "recipe-details" recipe.pk %}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}