{% extends "base.html" %}
{% load static %}

{% block content %}
    <form class="row g-3">
        <section class="vh-100 bg-image"
                 style="background-image: url('{% static "images/details.png" %}');">
            <div class="container py-5 h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>First Name</h6>
                                            <p class="text-muted">{{ cook.profile.first_name }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Last Name</h6>
                                            <p class="text-muted">{{ cook.profile.last_name }}</p>
                                        </div>
                                    </div>
                                    <h6>Location</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Recent</h6>
                                            <p class="text-muted">{{ cook.profile.location }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <a href="{% url "profile-update" user.pk %}">
                                                <button type="button" class="btn btn-info">Update</button>
                                            </a>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <a href="{% url "profile-delete" user.pk %}">
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock content %}